/*COMMON*/

* {
    margin: 0;
}

a:link, a:visited {
    text-decoration: inherit;
    color: inherit;
}

vaadin-app-layout {
  --vaadin-app-layout-drawer-overlay: true;
}

.text-list-item{
    margin-left: 0.5rem;
}

/*HAV BAR*/

vaadin-app-layout::part(navbar) {
    background: #ffe018;
    padding-left: 5px;
}

vaadin-drawer-toggle {
    background: #fdae53;
    color: #fbfcd4;
}

.navbar-item {
    font-size: 1rem;
    padding-left: 15px;
}

/*DRAWER*/

vaadin-app-layout::part(drawer) {
    background: #fbfcd4;
    width: 200px;
}

vaadin-side-nav-item {
    background: #FCE9D4;
    color: #0a0a0a;
}

.cv-download-button {
    font-size: 0.8rem;
    height: 2rem;
    background: #F9AAA8;
    color: #052242;
    border-radius: 0.5em;
    margin-left: 2em;
    margin-top: 1em;
}

.cv-link-goto {
    font-size: 0.8rem;
    height: 2rem;
    background: #d3a8f9;
    color: #052242;
    border-radius: 0.5em;
    margin-left: 2em;
    margin-top: 1em;
}

/*try to figure out how to change background in selected item in the nav bar*/

/*CV PAGE*/
/*COMMON*/

.content-container {
    display: flex;
    justify-content: center;
    align-items: top;
}

.avatar img{
    border-radius: 10%;
    padding: 0;
}

.left-side {
    color: #151515;
}

.main-side {
    color: #151515;
}

.contacts-list, .mini-list, .gallery, .top-section, .main-list, .sub-list  {
    padding: 0.25rem;
    border-radius: 0.7rem;
    margin-top: 0.5rem;
}

.contacts-list-title, .mini-list-title {
    font-size: 0.9rem;
    color: #24001b;
    padding: 0.2em;
    padding: 0 0.9rem 0 0.9rem;
    border-radius: 0.7rem;
    background: #FFBF00;
}

.contacts-list-item-icon, .mini-list-item-icon {
    font-size: 0.8rem;
}

.contacts-list-item-title, .mini-list-item-title {
    font-size: 0.9rem;
}

.contacts-list-item-content, .mini-list-item-content {
    font-size: 0.8rem;
}

.contacts-list-item-subtitle, .mini-list-item-subtitle, .main-list-item-subtitle, .sub-list-item-subtitle {
    font-style: oblique;
    font-weight: 600;
    font-size: 0.7rem;
    padding-left: 0.5rem;
    line-height: 1;
    color:black;
}

.contacts-list a:hover {
    background-color: rgb(28, 145, 241);
    padding: 0 5px 0 5px;
    border-radius: 5px;
}

.contacts-list, .mini-list {
    background: #FFEEBD;
    width: 0.8rem;
}

.mini-list-item {
    background: #FBFCD4;
    color: #0a0a0a;
    border-radius: 0.5rem;
    margin-bottom: 0.15rem;
    min-width: 0.9em;
}

.gallery img {
    border-radius: 3%;
}

.top-section {
    background: #00c3ff25;
}

.top-section-name {
    font-size: 1.5rem;
    font-weight: 700;
}

.top-section-quote {
    font-style: oblique;
    font-size: 0.7rem;
    
}

.top-section-content-title {
    font-size: 1.3rem;
    margin-left: 0.5rem;
    padding: 0.2rem 1rem;
    background-color: rgb(189, 178, 238);
    color: #0f0c04;
    border-radius: 0.5rem;
}

.main-list, .sub-list {
    background-color: #fffca1;

}

.main-list-title, .sub-list-title {
        font-size: 1.2rem;
        color: #3b002d;
        padding: 0.2em;
        padding: 0 0.9rem 0 0.9rem;
        border-radius: 0.7rem;
        background: #FFDED3;
}

.top-section-content {
    font-size: 0.9rem;
    font-weight: 700;
    color: #3b002d;
        padding: 0.2em;
        padding: 0 0.9rem 0 0.9rem;
        border-radius: 0.7rem;
        background: #FFDED3;
}

.main-list-item-icon {
    background-color: rgba(229, 255, 0, 0.644);
    padding: 2px;
    border-radius: 40% 40%;
}

.main-list-item-title, .sub-list-item-title {
    background: #a282ff;
    font-size: 1rem;
    color: #ffffec;
    padding: 0.2em;
    padding: 0.1rem 0.9rem 0.1rem 0.9rem;
    border-radius: 0.7rem;
}


.main-list-item-content, .sub-list-item-content {
        background: #fffee3;
        font-size: 0.9rem;
        color: #3b002d;
        padding: 0 0.2rem 0 0.2rem;
        margin: 0 0.8rem 0.8rem 0.5rem;
        border-radius: 0.7rem;
}

.main-list-item-content:hover, .sub-list-item-content:hover, .mini-list-item:hover {
    background: white;
    color: black;
}

.sub-list-item-icon {
    background-color: rgba(0, 217, 255, 0.747);
    padding: 2px;
    border-radius: 40% 40%;
}

/*FORM PAGE*/
.form-section {
    width: 65%;
    max-width: 500px;
    border-size: 1px;
    border-style: dotted;
    border-radius: 15px;

}

.form_field {
    width: 100%;

}

.send-offer-button {
    background: green;
    color: white;
    border-radius: 5px;
}
